body {
    background-image: url("http://3.bp.blogspot.com/_qHS-ZmLV02w/TScF1tmu8lI/AAAAAAAAAF4/i0NNCXQbnro/s1600/Ohne+Tite++Stack+-+Donald+Judd+C+1968-69.jpg");
    background-color: #cccccc;
  }
  h1 {
    color: green;
  }
  li {
    margin-right: 117px;
  }
  li {
    margin-right: 130px;
  }
  p3 {
    color: green;
  }
  p {
    color: green;
  }
  p4 {
    color: black;
  }
  p5 {
    color: black;
  }
  .profile-pic {
    width: 170px;
  }
  